<div [formGroup]="addressForm">
  <mat-form-field id="stAddress">
    <mat-label>Street Address</mat-label>
    <input matInput id="txtStAddress" placeholder="Street Number & Street Name" formControlName="streetAddress">
  </mat-form-field>
  <mat-form-field id="city">
    <mat-label >City</mat-label>
    <input matInput id="txtCity" placeholder="City" formControlName="city">
  </mat-form-field>
  <mat-form-field id="province">
    <mat-label>Province</mat-label>
    <input matInput id="txtProvince" placeholder="Province" formControlName="province">
  </mat-form-field>
  <mat-form-field id="country">
    <mat-label>Country</mat-label>
    <input matInput id="txtCountry" placeholder="Country" formControlName="country">
  </mat-form-field>
  <mat-form-field id="postalCode">
    <mat-label>Postal Code</mat-label>
    <input matInput id="txtPostalCode" placeholder="Postal Code" formControlName="postalCode">
  </mat-form-field>
</div>